VisualElement, 
Label, 
.unity-text-element {
    margin: 0;
    padding: 0;
}

Label,
.unity-text-element,
.unity-base-field__input {
    font-size: 100%;
    -unity-font-style: normal;
}

.unity-base-field,
.unity-base-field__input {
    margin: 0;
}